.container {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 5px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.container:hover {
  background-color: #323232;
  border-radius: 5px;
}

.menu_item:hover {
  background-color: #323232;
  border-radius: 5px;
}
