.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

@media screen and (max-width: 1500px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 967px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}